@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    padding: 20px 4%;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.logo{
    width: 100px;
    padding-left:80px;
}
li{
    display: inline;
    padding: 10px;
}
li:hover{
    text-decoration: underline; 
    text-decoration-color: #8071D0;   
    text-decoration-thickness: 3px;
    cursor: pointer;
    text-underline-offset: 3px;
}
#button{
    background-color: #FFD8DB;
    border: none;
    border-radius: 18px;
    color: #A389CC; 
    cursor: pointer;
    padding: 15px 30px;
    font-size: 10px;
}
.body-box{
    display: flex;
    margin: 40px 8%;
}
.title{
    margin-top: 0px;
    font-size:60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding-bottom: 0px;
}
.dot 
{
    height: 10px;
    width: 10px;
    background-color:#5243C0;
    margin: 0;
    display: inline-block;
}
.landing-image{
    width: 500px;
    padding-right: 20px;
}
.title-description{
    margin: 5px;
    padding: 5px;
}
.newbutton{
    padding-left:100px;
}
.newacc{
    display: flex;
    padding-top: 20px;
}
.newaccount{
    background-color: #5243C0;
    border: none;
    border-radius: 18px;
    color: #ffffff; 
    cursor: pointer;
    padding: 15px 30px;
    font-size: 10px;
}
.arrow{
    width: 35px;
    height: 35px;
    padding-left: 20px;
}
.body-tag{
    display: inline-flex;
    flex-direction: row;
    padding: 0px 8px 0px 0px;
    width: 280px;
    border-radius: 10px;
    border-color: #e6e6e6;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 30px 8%;
    align-items: center;    
    background-color: #e6e6e6;
    margin-bottom: 0px;
}
 .body-tag:hover {
    box-shadow: 3px 3px 3px #e6e6e6;
    transform: scale(1.1);
    background-color: #ffffff; 
   
    
} 

.tick{
    width: 20px;
    height: 20px;
    padding-left: 10px;
}
.tick-top{
    display: none;
    position: absolute;
    width: 20px;
    padding-left: 10px;
    height: 20px;
}
 .tick:hover + .tick-top{
    display: block;
}  
.tick-img{
    width: 20px;
    height: 20px;
    text-align: left;
}
.my_div:hover, .my_td:hover {
    border: 1px solid red;
}

.text{
    font-size: 12px;
    text-align: center;
    padding-left: 2px;
}
.design-button{
    border-width: 10px;
    border-radius: 5px;
    margin-top: 0px;
    text-align: left;
    padding: 4px 8px;
}

